# dependencies
/node_modules

.DS_Store
npm-debug.log*
.console_history
yarn.lock

*.csv
*.swp

mnemonic.json
wallet.json
wallet-backup.json
goldenTicketWallet.json

html/*
pdf/*

index.js
index.js.map
lib/**/*.js
lib/**/*.js.map
test/**/*.js
test/**/*.js.map