# dependencies
/node_modules

.DS_Store
npm-debug.log*
.console_history
yarn.lock
yarn-error.log
.vscode

*.csv
*.swp

mnemonic.json
wallet.json
wallet-backup.json
goldenTicketWallet.json

html/*
pdf/*

log
dist
output
bin

index.js
index.js.map
test/**/*.js
test/**/*.js.map